[submodule "ZK-eSIM_applet"]
	path = ZK-eSIM_applet
	url = https://anonymous.4open.science/r/ZK-eSIM_applet-BB53.git
[submodule "OpenEUICC"]
	path = OpenEUICC
	url = https://anonymous.4open.science/r/OpenEUICC_ZK-3F83.git
[submodule "lpac"]
	path = lpac
	url = https://anonymous.4open.science/r/lpac_ZK-B783.git
[submodule "pysim"]
	path = pysim
	url = https://anonymous.4open.science/r/ZK-eSIM-SMDP-02F2.git
